<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration SYSTEM
  "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <!-- Настройки подключения к БД -->
    <property name="connection.url">jdbc:postgresql://localhost:5432/postgres</property>
    <property name="connection.username">postgres</property>
    <property name="connection.password">changeme</property>
    <property name="connection.driver_class">org.postgresql.Driver</property>
    <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
    <property name="show_sql">true</property>
    <property name="format_sql">true</property>

    <mapping class="ru.mindils.jb.service.entity.Employer"/>
    <mapping class="ru.mindils.jb.service.entity.EmployerInfo"/>
    <mapping class="ru.mindils.jb.service.entity.User"/>
    <mapping class="ru.mindils.jb.service.entity.Vacancy"/>
    <mapping class="ru.mindils.jb.service.entity.VacancyFilter"/>
    <mapping class="ru.mindils.jb.service.entity.VacancyFilterParams"/>
    <mapping class="ru.mindils.jb.service.entity.VacancyInfo"/>

  </session-factory>
</hibernate-configuration>