<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
  <title layout:fragment="title">Главная</title>
</head>
<th:block layout:fragment="content">
  <div class="content">
    <div class="welcome-message">
      <h2 class="welcome-title">
        Интерактивный поиск вакансий JB
      </h2>
      <p class="welcome-text">
        JP: интеллектуальный подбор вакансий через AI
      </p>
    </div>
  </div>
</th:block>
</html>