<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
  <title layout:fragment="title">Главная</title>
</head>
<th:block layout:fragment="content">
  <div class="content">
    <form method="post" th:action="@{/test}">
      <input name="testDto[0].name" type="text" th:value="${testDto != null && testDto.size() > 0 ? testDto[0].name : ''}">
      <input name="testDto[1].name" type="text" th:value="${testDto != null && testDto.size() > 1 ? testDto[1].name : ''}">
      <button class="job-action" type="submit">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"></path>
          <polyline points="22 4 12 14.01 9 11.01"></polyline>
        </svg>
      </button>
    </form>
  </div>
</th:block>
</html>