<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout}">
<head>
  <title layout:fragment="title">Профиль пользователя</title>
</head>
<th:block layout:fragment="content">
  <h1>Профиль пользователя</h1>
  <div class="content">

    <form th:action="@{/user/profile}" th:object="${user}" enctype="multipart/form-data" method="post">
      <div class="form-group">
        <label for="username">Имя пользователя:</label>
        <input type="text" id="username" th:field="*{username}" class="form-input" readonly>
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" id="email" th:field="*{email}" class="form-input" required>
      </div>
      <div class="form-group">
        <label for="firstName">Имя:</label>
        <input type="text" id="firstName" th:field="*{firstname}" class="form-input" required>
      </div>
      <div class="form-group">
        <label for="role">Роль:</label>
        <input type="text" id="role" th:field="*{role}" class="form-input" readonly>
      </div>
      <div class="form-group">
        <label for="enabled">Активен:</label>
        <input type="checkbox" id="enabled" th:field="*{enabled}" disabled>
      </div>
      <div class="form-group">
        <img th:src="@{/api/v1/users/{username}/avatar(username=*{username})}" alt="User image"><br>
        <label for="image">Аватар:</label>
        <input id="image" type="file" name="image">
      </div>
      <button type="submit" class="form-button">Сохранить</button>
    </form>
  </div>
</th:block>
</html>