<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
  <title layout:fragment="title">Vacancy list</title>
  <script>
    function updateVacancyStatus(event) {
      const button = event.target.closest('button');
      const vacancyId = button.getAttribute('data-vacancy-id');
      const status = button.getAttribute('data-status');

      fetch(`/api/v1/vacancies/${vacancyId}`, {
        method: 'PUT',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({status}),
      })
      .then(response => {
        if (!response.ok) {
          throw new Error('Network response was not ok');
        }
        console.log('Vacancy status updated successfully');
      })
      .catch(error => {
        console.error('There was a problem updating vacancy status:', error);
      });
    }
  </script>
</head>
<th:block layout:fragment="content">
  <div class="content">
    <h2 class="filter-title">Фильтр</h2>
    <form class="filters">
      <div class="filter">
        <label for="salary-range-from">Диапазон зарплат:</label>
        <input type="text" id="salary-range-from" placeholder="От" class="salary-input"
               name="salaryFrom"
               th:value="${filter.getSalaryFrom()}"
        >
        <span>-</span>
        <input type="text" placeholder="До" class="salary-input" name="salaryTo"
               th:value="${filter.getSalaryTo()}"
        >
      </div>
      <!--      <div class="filter">-->
      <!--        <label for="suitable-jobs">Только подходящие вакансии:</label>-->
      <!--        <input type="checkbox" id="suitable-jobs" class="checkbox-input">-->
      <!--      </div>-->
      <input type="hidden" name="aiApproved" th:value="0.7">
      <div class="filter">
        <label for="job-preference">Предпочтения:</label>
        <select id="job-preference" class="select-input" name="status" th:field="*{filter.status}">
          <option value="">Все</option>
          <option value="NEW">Новые</option>
          <option value="IN_PROGRESS">Избранные</option>
          <option value="ARCHIVED">В архиве</option>
          <option value="DECLINED">Не нравятся</option>
          <option value="APPROVED">Нравятся</option>
        </select>
      </div>
      <button type="submit" class="filter-btn">Применить</button>
    </form>

    <!-- Сортировка -->
    <div class="sorting">
      <span>Сортировать:</span>
      <a th:href="@{|${baseSortUrl}sort=salary.from,${salaryFromOrder}|}">По зарплате</a>
      <a th:href="@{|${baseSortUrl}sort=createdAt,${createdAtOrder}|}">По дате</a>
    </div>

    <div class="job-list">
      <div th:each="vacancy : ${vacancies}" class="job-item">
        <h3>
          <a th:href="@{|/vacancies/${vacancy.id}|}">
             <span class="job-status-action">
              <th:block th:switch="${vacancy.vacancyInfo.status.name}">
                <svg color="#007BFF" th:case="'NEW'" xmlns="http://www.w3.org/2000/svg"
                     viewBox="0 0 24 24"
                     fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                     stroke-linejoin="round">
                    <path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path>
                    <polyline points="14 2 14 8 20 8"></polyline>
                </svg>
                <svg color="#FFA500" th:case="'ARCHIVED'" xmlns="http://www.w3.org/2000/svg"
                     viewBox="0 0 24 24"
                     fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                     stroke-linejoin="round">
                  <polyline points="21 8 21 21 3 21 3 8"></polyline>
                  <rect x="1" y="3" width="22" height="5"></rect>
                  <line x1="10" y1="12" x2="14" y2="12"></line>
                </svg>
                <svg color="#28A745" th:case="'APPROVED'" xmlns="http://www.w3.org/2000/svg"
                     viewBox="0 0 24 24"
                     fill="none"
                     stroke="currentColor" stroke-width="2" stroke-linecap="round"
                     stroke-linejoin="round">
                  <path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"></path>
                  <polyline points="22 4 12 14.01 9 11.01"></polyline>
                </svg>
                <svg color="#DC3545" th:case="'DECLINED'" xmlns="http://www.w3.org/2000/svg"
                     viewBox="0 0 24 24"
                     fill="none"
                     stroke="currentColor" stroke-width="2" stroke-linecap="round"
                     stroke-linejoin="round">
                  <circle cx="12" cy="12" r="10"></circle>
                  <line x1="15" y1="9" x2="9" y2="15"></line>
                  <line x1="9" y1="9" x2="15" y2="15"></line>
                </svg>
                <svg color="#6C757D" th:case="'IN_PROGRESS'" xmlns="http://www.w3.org/2000/svg"
                     viewBox="0 0 24 24"
                     fill="none"
                     stroke="currentColor" stroke-width="2" stroke-linecap="round"
                     stroke-linejoin="round">
                  <path
                      d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path>
                </svg>

                 <svg color="#007BFF" th:case="*" xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 24 24"
                      fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                      stroke-linejoin="round">
                    <path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path>
                    <polyline points="14 2 14 8 20 8"></polyline>
                </svg>
              </th:block>
            </span>
            <span th:text="${vacancy.name}">Заголовок вакансии</span>
          </a>
        </h3>
        <p class="job-meta">
          <a th:href="@{|/employers/${vacancy.employer.id}|}">

            <span th:text="${vacancy.employer.name}">Название компании</span>
          </a>
          <span class="job-location" th:text="${vacancy.city}">(Москва)</span>
          <span class="job-posted-date">Создано в системе: <span
              th:text="${#temporals.format(vacancy.internalCreatedAt, 'dd.MM.yyyy HH:mm')}"
          ></span>
          </span>
          <span class="job-created-date">
            Обновлено в hh: <span
              th:text="${#temporals.format(vacancy.createdAt, 'dd.MM.yyyy HH:mm')}"></span>
          </span>
        </p>
        <p class="job-salary" th:if="${vacancy.salary != null}">
          <span>Зарплата:</span>
          <span class="salary-from" th:text="|от ${vacancy.salary.from}|"
                th:if="${vacancy.salary.from != null}"/>
          <span class="salary-to" th:text="|до ${vacancy.salary.to}|"
                th:if="${vacancy.salary.to != null}"/>
        </p>
        <p class="job-description" th:utext="${vacancy.description}">Краткое описание
          вакансии...</p>
        <div class="job-actions">
          <button class="job-action" @click="updateVacancyStatus($event)"
                  th:data-vacancy-id="${vacancy.id}" data-status="APPROVED">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
                 stroke="currentColor" stroke-width="2" stroke-linecap="round"
                 stroke-linejoin="round">
              <path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"></path>
              <polyline points="22 4 12 14.01 9 11.01"></polyline>
            </svg>
          </button>
          <button class="job-action" @click="updateVacancyStatus($event)"
                  th:data-vacancy-id="${vacancy.id}" data-status="DECLINED">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
                 stroke="currentColor" stroke-width="2" stroke-linecap="round"
                 stroke-linejoin="round">
              <circle cx="12" cy="12" r="10"></circle>
              <line x1="15" y1="9" x2="9" y2="15"></line>
              <line x1="9" y1="9" x2="15" y2="15"></line>
            </svg>
          </button>
          <button class="job-action" @click="updateVacancyStatus($event)"
                  th:data-vacancy-id="${vacancy.id}" data-status="IN_PROGRESS">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
                 stroke="currentColor" stroke-width="2" stroke-linecap="round"
                 stroke-linejoin="round">
              <path
                  d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path>
            </svg>
          </button>
        </div>
      </div>
    </div>

    <div class="pagination" th:if="${totalPages} > 1">
      <a th:href="@{|${basePaginationUrl}page=${currentPage > 1 ? currentPage - 1 : 1}|}"
         class="pagination-link">« Пред.</a>

      <th:block th:each="i : ${#numbers.sequence(1, 2)}">
        <a th:href="@{|${basePaginationUrl}page=${i}|}"
           th:class="${currentPage == i} ? 'pagination-link active' : 'pagination-link'">[[${i}]]</a>
      </th:block>

      <span th:if="${currentPage > 4}" class="pagination-link">...</span>

      <th:block th:each="i : ${#numbers.sequence(currentPage - 1, currentPage + 1)}"
                th:if="${i > 2 and i < totalPages - 1}">
        <a th:href="@{|${basePaginationUrl}page=${i}|}"
           th:class="${currentPage == i} ? 'pagination-link active' : 'pagination-link'">[[${i}]]</a>
      </th:block>

      <span th:if="${totalPages - currentPage > 3}" class="pagination-link">...</span>

      <th:block th:each="i : ${#numbers.sequence(totalPages - 1, totalPages)}">
        <a th:href="@{|${basePaginationUrl}page=${i}|}"
           th:class="${currentPage == i} ? 'pagination-link active' : 'pagination-link'">[[${i}]]</a>
      </th:block>

      <a th:href="@{|${basePaginationUrl}page=${currentPage < totalPages ? currentPage + 1 : totalPages}|}"
         class="pagination-link">След. »</a>
    </div>

  </div>
</th:block>
</html>