<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
  <title layout:fragment="title">Vacancy list</title>
  <script>
    function updateVacancyStatus(event) {
      const button = event.target.closest('button');
      const vacancyId = button.getAttribute('data-vacancy-id');
      const status = button.getAttribute('data-status');

      fetch(`/api/v1/vacancies/${vacancyId}`, {
        method: 'PATCH',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({status}),
      })
      .then(response => {
        if (!response.ok) {
          throw new Error('Network response was not ok');
        }
        console.log('Vacancy status updated successfully');
        const iconElement = event.target.closest('.card-item').querySelector(
            '.card-status-action svg');
        updateIcon(iconElement, status);
      })
      .catch(error => {
        console.error('There was a problem updating vacancy status:', error);
      });
    }

    function updateIcon(iconElement, status) {
      fetch(`/icons/vacancy-status?status=${status}`)
      .then(response => response.text())
      .then(html => {
        iconElement.outerHTML = html;
      })
      .catch(error => {
        console.error('There was a problem fetching the icon:', error);
      });
    }
  </script>
</head>
<th:block layout:fragment="content">
  <div class="content">
    <h2 class="filter-title">Фильтр</h2>
    <form class="filters">
      <div class="filter">
        <label for="salary-range-from">Диапазон зарплат:</label>
        <input type="text" id="salary-range-from" placeholder="От" class="salary-input"
               name="salaryFrom"
               th:value="${filter.getSalaryFrom()}"
        >
        <span>-</span>
        <input type="text" placeholder="До" class="salary-input" name="salaryTo"
               th:value="${filter.getSalaryTo()}"
        >
      </div>
      <div class="filter">
        <label for="card-preference">Предпочтения:</label>
        <select id="card-preference" class="select-input" name="status" th:field="*{filter.status}">
          <option value="">Все</option>
          <option value="NEW">Новые</option>
          <option value="IN_PROGRESS">Избранные</option>
          <option value="ARCHIVED">В архиве</option>
          <option value="DECLINED">Не нравятся</option>
          <option value="APPROVED">Нравятся</option>
        </select>
      </div>
      <button type="submit" class="filter-btn">Применить</button>
    </form>

    <!-- Сортировка -->
    <div class="sorting">
      <div class="sorting">
        <span>Сортировать:</span>
        <a th:href="@{|${baseSortUrl}sort=salary.from,${currentSort == 'salary.from,desc' ? 'asc' : 'desc'}|}">
          По зарплате
          <span class="sorting-order" th:if="${currentSort == 'salary.from,asc'}">&#9650;</span>
          <span class="sorting-order" th:if="${currentSort == 'salary.from,desc'}">&#9660;</span>
        </a>
        <a th:href="@{|${baseSortUrl}sort=createdAt,${currentSort == 'createdAt,desc' ? 'asc' : 'desc'}|}">
          По дате
          <span class="sorting-order" th:if="${currentSort == 'createdAt,asc'}">&#9650;</span>
          <span class="sorting-order" th:if="${currentSort == 'createdAt,desc'}">&#9660;</span>
        </a>
      </div>
    </div>

    <div class="card-list">
      <div th:each="vacancy : ${vacancies}" class="card-item">
        <h3>
          <a th:href="@{|/vacancies/${vacancy.id}|}">
            <span class="card-status-action">
              <span
                  th:replace="~{fragments/vacancy-status :: vacancy-status-icon(status=${vacancy.vacancyInfo.status.name})}"></span>
            </span>
            <span th:text="${vacancy.name}" class="card-link">Заголовок вакансии</span>
          </a>
          <a th:href="${vacancy.alternateUrl}" target="_blank" class="card-hh-link" title="Открыть на hh.ru">
            <svg color="#007BFF" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
                 stroke="currentColor" stroke-width="2" stroke-linecap="round"
                 stroke-linejoin="round">
              <path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"></path>
              <polyline points="15 3 21 3 21 9"></polyline>
              <line x1="10" y1="14" x2="21" y2="3"></line>
            </svg>
          </a>
        </h3>
        <p class="card-meta">
          <a th:href="@{|/employers/${vacancy.employer.id}|}">
            <span th:text="${vacancy.employer.name}">Название компании</span>
          </a>
          <span class="card-location" th:text="${vacancy.city}">(Москва)</span>
          <span class="card-property">Создано в системе: <span
              th:text="${#temporals.format(vacancy.internalCreatedAt, 'dd.MM.yyyy HH:mm')}"
          ></span>
          </span>
          <span class="card-created-date">
            Обновлено в hh: <span
              th:text="${#temporals.format(vacancy.createdAt, 'dd.MM.yyyy HH:mm')}"></span>
          </span>
          <span class="card-property">
            Рейтинг AI: <span
              th:text="${vacancy.vacancyInfo.aiApproved}"></span>
          </span>
        </p>
        <p class="card-salary" th:if="${vacancy.salary != null}">
          <span>Зарплата:</span>
          <span class="salary-from" th:text="|от ${vacancy.salary.from}|"
                th:if="${vacancy.salary.from != null}"/>
          <span class="salary-to" th:text="|до ${vacancy.salary.to}|"
                th:if="${vacancy.salary.to != null}"/>
        </p>
        <p class="card-description" th:utext="${vacancy.description}">Краткое описание
          вакансии...</p>
        <div class="card-actions">
          <button class="card-action" @click="updateVacancyStatus($event)"
                  th:data-vacancy-id="${vacancy.id}" data-status="APPROVED">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
                 stroke="currentColor" stroke-width="2" stroke-linecap="round"
                 stroke-linejoin="round">
              <path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"></path>
              <polyline points="22 4 12 14.01 9 11.01"></polyline>
            </svg>
          </button>
          <button class="card-action" @click="updateVacancyStatus($event)"
                  th:data-vacancy-id="${vacancy.id}" data-status="DECLINED">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
                 stroke="currentColor" stroke-width="2" stroke-linecap="round"
                 stroke-linejoin="round">
              <circle cx="12" cy="12" r="10"></circle>
              <line x1="15" y1="9" x2="9" y2="15"></line>
              <line x1="9" y1="9" x2="15" y2="15"></line>
            </svg>
          </button>
          <button class="card-action" @click="updateVacancyStatus($event)"
                  th:data-vacancy-id="${vacancy.id}" data-status="IN_PROGRESS">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
                 stroke="currentColor" stroke-width="2" stroke-linecap="round"
                 stroke-linejoin="round">
              <path
                  d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path>
            </svg>
          </button>
        </div>
      </div>
    </div>

    <div class="pagination" th:if="${totalPages} > 1">
      <a th:if="${currentPage > 1}"
         th:href="@{|${basePaginationUrl}page=${currentPage > 1 ? currentPage - 1 : 1}|}"
         class="pagination-link">« Пред.</a>


      <th:block th:each="i : ${#numbers.sequence(1, 2)}">
        <a th:href="@{|${basePaginationUrl}page=${i}|}"
           th:class="${currentPage == i || (currentPage == 0 && i == 1)} ? 'pagination-link active' : 'pagination-link'">[[${i}]]</a>
      </th:block>

      <span th:if="${currentPage > 4}" class="pagination-link">...</span>

      <th:block th:each="i : ${#numbers.sequence(currentPage - 1, currentPage + 1)}"
                th:if="${i > 2 and i < totalPages - 1}">
        <a th:href="@{|${basePaginationUrl}page=${i}|}"
           th:class="${currentPage == i} ? 'pagination-link active' : 'pagination-link'">[[${i}]]</a>
      </th:block>

      <span th:if="${totalPages - currentPage > 3}" class="pagination-link">...</span>

      <th:block th:each="i : ${#numbers.sequence(totalPages - 1, totalPages)}">
        <a th:href="@{|${basePaginationUrl}page=${i}|}"
           th:class="${currentPage == i} ? 'pagination-link active' : 'pagination-link'">[[${i}]]</a>
      </th:block>

      <a th:if="${currentPage < totalPages}"
         th:href="@{|${basePaginationUrl}page=${currentPage < totalPages ? (currentPage == 0 ? 2 : currentPage + 1) : totalPages}|}"
         class="pagination-link">След. »</a>
    </div>
  </div>
</th:block>
</html>